.profile__form{
  height: calc(100vh - 300px );
  overflow: auto;
}
.preview-title-primary{
  color: $accent-color;
}
.accordion-1{
  border-bottom: 1px solid #5e3ffc;
}
.title--item--accordion1{
  color: #5e3ffc !important;
}
.accordion-2{
  border-bottom: 1px solid #87d068;
}
.title--item--accordion2{
  color: #87d068 !important;
}
.accordion-3{
  border-bottom: 1px solid #d71d31;
}
.title--item--accordion3{
  color: #d71d31 !important;
}
.accordion-4{
  border-bottom: 1px solid #f1b228;
}
.title--item--accordion4{
  color: #f1b228 !important;
}
.desc-text-primary{
  color: #5e3ffc;
}